{% extends "conteneur.html" %}


{% block corps %}
<!-- Voici le code HTML de la page d'accueil de notre site -->

<!-- Here is the HTML code for the home page ("accueil") -->
  <!-- HEADER -->
  <header class="page-header-image mw-100" style="background-image: url(''); background-repeat: no-repeat;  -webkit-background-size: cover; background-position: center center;">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Portail Coenotur</h1>
            <h2 class="subheading">Cœnobia Turonenses : les communautés martiniennes de Tours, leurs pratiques et leurs réseaux de l’Antiquité tardive au XIIIe siècle<h2>
          </div>
        </div>
      </div>
    </div>
  </header>

<hr>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<!-- Nous avons ici créé des conditions avec un "if" et une boucle avec un "for".
Nous avons utilisé url_for () pour faire des liens vers chacune de nos lettres.-->

<!-- To display a list of links to our letters, we created conditions with an "if" and a loop with a "for"-->
<!-- Then we used url_for() to give the link sending back to each and every letter -->


{% endblock %}