{% extends "conteneur.html" %}
{% block titre %}
Accueil
{% endblock %}

{% block corps %}
<!-- Voici le code HTML de la page d'accueil de notre site -->

<!-- Here is the HTML code for the home page ("accueil") -->

<hr>

<div class="card">
  <div class="card-header">
    Avertissement
  </div>
  <div class="card-body">
    <h5 class="card-title">Site en cours de construction</h5>
    <p class="card-text"></p>
    <a href="https://github.com/CelCpc/coenotur-portail" class="btn btn-primary">Cliquez-ici</a>
  </div>
</div>

<!-- Nous avons ici créé des conditions avec un "if" et une boucle avec un "for".
Nous avons utilisé url_for () pour faire des liens vers chacune de nos lettres.-->

<!-- To display a list of links to our letters, we created conditions with an "if" and a loop with a "for"-->
<!-- Then we used url_for() to give the link sending back to each and every letter -->


{% endblock %}