{% extends "conteneur.html" %}


{% block corps %}
<!-- Voici le code HTML de la page d'accueil de notre site -->

<!-- Here is the HTML code for the home page ("accueil") -->
<h1 class="text-uppercase" class="text-roboto">Portail Coenotur</h1>
<hr>
<!-- Nous avons ici créé des conditions avec un "if" et une boucle avec un "for".
Nous avons utilisé url_for () pour faire des liens vers chacune de nos lettres.-->

<!-- To display a list of links to our letters, we created conditions with an "if" and a loop with a "for"-->
<!-- Then we used url_for() to give the link sending back to each and every letter -->


{% endblock %}