{% extends "conteneur.html" %}

<!-- Voici le code html pour la page contact -->

<!-- Here is the html code for the contact page -->

{% block titre %}
Contact
{% endblock %}

{% block corps %}

<br/>

<p class="text-dark bg-light"> <b><u>Organisateurs du projet</u></b><br/>
    UMR Université-CNRS 7324 - CITERES Equipe Laboratoire Archéologie et Territoires (LAT)<br/>
     33, Allée Ferdinand de Lesseps<br/>
37204 TOURS CEDEX 03
     <br/><br/>Université de Hambourg<br/>
Mittelweg 177<br/>
20148
 </p>
</br>
<p class="text-dark bg-light"> <b><u>Développeur</u></b><br/>
    Céline Champcourt</br>
    Ingénieure d'études à l'Université de Tours</br>
    celine.champcourt@univ-tours.fr</br>
    </br>
 </p></br>

</br></br>

{% endblock %}