{% extends "conteneur.html" %}
{% block titre %}
Acteurs
{% endblock %}

{% block corps %}
<hr class="style15">
<div class="alert alert-secondary" role="alert">
<p class="h3 text-center"><strong>Equipe française</strong></p>
<br/>
<h5>Université de Tours / UMR 7324 CITERES-LAT </h5>
<p> Elisabeth Lorans, Thomas Creissen, Bruno Dufaÿ, Céline Champcourt, Olivier Marlet, Thomas Pouyet, Xavier Rodier, Claude Schadeck.
<h5>Archives départementales d’Indre-et-Loire</h5><p>Isabelle Girard, Lydiane Gueit-Montchal.</p>
<h5>Bibliothèque municipale de Tours</h5> <p>Régis Rech</p>
<h5>IRHT</h5> <p>Jean-François Goudesenne, Gilles Kagan</p>
<h5>Aix-Marseille Université</h5> <p>Jean-Hervé Foulon</p>
<h5>Sorbonne Université</h5> <p>Claire Lamy</p>
<h5>Université d’Orléans</h5> <p>Chantal Senséby</p>
<h5>Monastère Saint-Martin de Ligugé</h5> <p>Frédéric Gross, Lucien Jean-Bord</p>
<br/>
</div>
<hr class="style15">
<div class="alert alert-secondary" role="alert">
<p class="h3 text-center"><strong>Equipe allemande</strong></p>
<br/>
<h5>Université de Hambourg</h5> <p>Philippe Depreux, Matthew Munson, Jérémy Winandy</p>
<h5>Université de Stuttgart</h5><p>Mark Mersiowsky</p>
<h5>Université de Duisbourg et Essen</h5> <p>Miriam Czock</p>
<h5>Bundesanst alt für Materialforschung</h5> <p>Olivier Bonnerot, Olivier Hahn, Ira Rabin</p>

</div>
{% endblock %}