{% extends "conteneur.html" %}
{% block titre %}
Acteurs
{% endblock %}

{% block corps %}
<hr class="style15">
<p class="h3 text-center"><strong>Equipe française</strong></p>
<br/>
<h4>Université de Tours / UMR 7324 CITERES-LAT </h4>
<p> Elisabeth Lorans, Thomas Creissen, Bruno Dufaÿ, Céline Champcourt, Olivier Marlet, Thomas Pouyet, Xavier Rodier, Claude Schadeck.
<h4>Archives départementales d’Indre-et-Loire</h4><p>Isabelle Girard, Lydiane Gueit-Montchal.</p>
<h4>Bibliothèque municipale de Tours</h4> <p>Régis Rech</p>
<h4>IRHT</h4> <p>Jean-François Goudesenne, Gilles Kagan</p>
<h4>Aix-Marseille Université</h4> <p>Jean-Hervé Foulon</p>
<h4>Sorbonne Université</h4> <p>Claire Lamy</p>
<h4>Université d’Orléans</h4> <p>Chantal Senséby</p>
<h4>Monastère Saint-Martin de Ligugé</h4> <p>Frédéric Gross, Lucien Jean-Bord</p>
<br/>
<hr class="style15">

<p class="h3 text-center"><strong>Equipe allemande</strong></p>
<br/>
<h4>Université de Hambourg</h4> <p>Philippe Depreux, Matthew Munson, Jérémy Winandy</p>
<h4>Université de Stuttgart</h4><p>Mark Mersiowsky</p>
<h4>Université de Duisbourg et Essen</h4> <p>Miriam Czock</p>
<h4>Bundesanst alt für Materialforschung</h4> <p>Olivier Bonnerot, Olivier Hahn, Ira Rabin</p>


{% endblock %}