<!DOCTYPE html>
<html lang="fr">


    <!-- Nous avons créé un conteneur html qui détermine la disposition des différents blocs
        (bloc titre et bloc corps)
        et que l'on a étendu à toutes les pages html que nous avons réalisées -->

    <!-- Here is the html container which fixes the layout of the different blocks (title block and body block)
    we extended this layout to every html pages we made-->


<head>
    <head>
        <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>Coenotur {%block titre %}{%endblock%}</title>
         {% include "partials/css.html" %}
         {% include "partials/metadata.html" %}

        <style type="text/css">
               body { background-image:url('') !important;
                } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
                a{color:#AFAFAF;}


</style>

    </head>



    <body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="/">Coenotur</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('accueil')}}">Accueil <span class="sr-only">Accueil</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Le projet
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ url_for('about')}}">À propos</a>
        <a class="dropdown-item" href="/contact">Contact</a>
        <a class="dropdown-item" href="/equipe">Acteurs</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Autres témoignages</a>
      </div>
    </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scriptorium
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/about">Définition</a>
        <a class="dropdown-item" href="/contact">blabla</a>
        <a class="dropdown-item" href="/equipe">blabla</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Autres témoignages</a>
      </div>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="#">Réseaux</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="#">Architecture</a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="#">Musique</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bibliographie</a>
    </li>
  </ul>
 <ul class="navbar-nav ml-auto">

    {% if not current_user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
              </li>
            {% else %}

              <li class="nav-item">
                <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion ({{current_user.user_nom}})</a>
              </li>
                  {% endif %}
     <li class="nav-item">
      <a class="nav-link" href="https://github.com/CelCpc/coenotur-portail"><img src="{{url_for("static", filename="pictures/github1.png")}}" width="30" height="30" class="d-inline-block align-top" alt="github">   </a>
    </li>
  </ul>

</nav>

<!-- HEADER -->
  <header class="page-header-image-expand-md mw-100" style="background-image: url('/static/pictures/fond.jpg'); background-repeat: no-repeat;  -webkit-background-size: cover; background-position: center center;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-8 col-md-10 mx-auto"><br/>

            <div class="card text-white bg-dark mb-3">

  <div class="card-body">
          <div class="post-heading">
            <br/><h1>Portail Coenotur</h1>
              <h2 class="subheading"><i>Cœnobia Turonenses</i> : les communautés martiniennes de Tours, leurs pratiques et leurs réseaux de l’Antiquité tardive au XIIIe siècle<h2>
        <hr/>
          <form class="form-inline ml-auto">
      <div class="md-form my-0">
        <input class="form-control" type="text" placeholder="Rechercher" aria-label="Search">
      </div>
      <button href="#!" class="btn btn-dark btn-md my-0 ml-sm-2" type="submit">Rechercher</button>
    </form>
          </div>  </div>
</div>

        </div>

      </div>

    </div>
  </header>

      <!-- CONTENT -->




        <!-- Les lignes suivantes permettent de créer des espaces entre le lien contact et le cadre recherche -->

        <!-- The following lines create spaces between the contact link and the search box -->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

</br>
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">


            {% block corps%}{%endblock%}
            <!-- Footer -->
            <hr>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
    <!-- Ici nous appelons la variable now de la fonction définie dans le fichier routes et nous lui ajoutons l'élément
     year afin de n'afficher que l'année -->

    <!-- Here we call the variable now from the function that we previously defined in the routes file. Then we add
    the element year so that it only display the year and not the hours -->

  <div class="footer-copyright text-center py-3">© {{ now.year }} - Crédits :
    <a href="https://www.univ-tours.fr/" target="_blank">
<img src="/static/pictures/logoUnivTours.png" width="90px" class="rounded"></a>
      | <a href="http://citeres.univ-tours.fr/" target="_blank"><img src="/static/pictures/logoCITERES.png" width="90px" class="rounded"> </a>
      | <a href="https://anr.fr/Projet-ANR-18-FRAL-0007" target="_blank"><img src="/static/pictures/anr-logo.png" width="90px" class="rounded"></a>
      |  <a href="https://www.uni-hamburg.de/en.html" target="_blank"><img src="/static/pictures/uhh_logo.gif" height="40px" class="rounded"></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
        </div>
    </div>
</div>
    </body>
</html>
